<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon1.png" type="image/png">
    <title>About Us</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="top_menu row m0">
            <div class="container">
                <div class="float-left">
                    <a class="dn_btn" href="mailto:medical@example.com"><i class="ti-email"></i>ICU@example.com</a>
                    <span class="dn_btn"> <i class="ti-location-pin"></i>Find our Location</span>
                </div>
                <div class="float-right">
                    <ul class="list header_social">
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.handlebars"><img src="images/logo3.png" width= "60" height="60" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="index.handlebars">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="login.handlebars">Sign In</a></li>
                                    <li class="nav-item"><a class="nav-link" href="SignUp1.handlebars">Sign Up</a></li>
                                </ul>
                            </li>

                            <li class="nav-item"><a class="nav-link" href="Patient.html">Patient </a><li>
                            <li class="nav-item"><a class="nav-link" href="contactUs.handlebars">Contact Us </a><li>



                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    <!--================Header Menu Area =================-->


    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2> Our Intensive Care Departments</h2>
              <div class="page_link">
                <a href="index.handlebars">Home</a>
                <a href="about-us.html">About Us</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->



<!--================ Service section start =================-->

<div class="service-area area-padding-top">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">
                <h3>Types of ICUs in our hospital.</h3>
            </div>
            <div>
      <p>Intensive care unit has many types according to the case of the patient we put him in the suitable one. We have three types of ICUs in our hospital.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                    <span class="card-service__icon">
                        <!-- <i class="flaticon-face"></i> -->
                        <i class="fas fa-child"></i>
                    </span>
                    <h3 class="card-service__title">Pediatric care unit (PICU).</h3>
                    <p class="card-service__subtitle">Pediatric patients are treated in this intensive care unit for life-threatening conditions such as asthma, diabetic ketoacidosis, or traumatic neurological injury and cardiac transplantation.</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                    <span class="card-service__icon">
                        <!-- <i class="flaticon-"></i> -->
                        <i class="fas fa-heartbeat"></i>
                    </span>
                    <h3 class="card-service__title">Coronary care unit (CCU). </h3>
                    <p class="card-service__subtitle">is a hospital ward specialized in the care of patients with heart attacks, unstable angina, cardiac dysrhythmia and (in practice) various other cardiac conditions that require monitoring .</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                    <span class="card-service__icon">
                        <!-- <i class="flaticon-brain"></i> -->
                        <i class="fas fa-brain"></i>
                    </span>
                    <h3 class="card-service__title">Neurological Intensive Care Unit (NeuroICU).</h3>
                    <p class="card-service__subtitle">Patients are treated for brain aneurysms, brain tumors, stroke, rattlesnake bites and post surgical patients who have undergone various neurological surgeries.</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
</div>
<div class="service-area area-padding-top">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                    <span class="card-service__icon">
                        <!-- <i class="flaticon-face"></i> -->
                        <i class="fas fa-user-md"></i>
                    </span>
                    <h3 class="card-service__title">Post-anesthesia care unit (PACU).</h3>
                    <p class="card-service__subtitle"> the post-operative recovery unit, or recovery room, the PACU provides immediate post-op observation and stabilisation of patients following surgical operations and anesthesia.</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                    <span class="card-service__icon">
                        <!-- <i class="flaticon-"></i> -->
                        <i class="fas fa-baby"></i>
                    </span>
                    <h3 class="card-service__title">Neonatal intensive care unit (NICU). </h3>
                    <p class="card-service__subtitle">his specialty unit cares for neonatal patients who have not left the hospital after birth. Common conditions cared for include prematurity and associated complications, congenital disorders.</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                    <span class="card-service__icon">
                        <!-- <i class="flaticon-brain"></i> -->
                        <i class="far fa-hospital"></i>
                    </span>
                    <h3 class="card-service__title">Surgical intensive care unit (SICU).</h3>
                    <p class="card-service__subtitle"> the surgery critical care unit, the SICU is a specialized service in larger hospitals that provides inpatient care for critically ill patients on surgical services. As opposed to other ICUs.</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
</div>
    <!--================ Service section end =================-->
    <section class="about-area">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-6 offset-xl-7 col-xl-5">
                    <div class="about-content">
                      <h2>Equipments and Systems</h2>
                      <p>Equipment used in an Intensive Care Unit ranges from familiar equipment, such as blood pressure monitors, to highly specialised devices, such as dialysis machines. Here are some equipments we always use in ICUs.</p>
                        <ul>
                          <li>RESUSCITATOR BAG</li>
                          <li>SYRINGE DRIVER / SYRINGE PUMP</li>
                          <li>BEDS</li>
                          <li>ICU BEDSIDE MONITORS</li>
                          <li>VENTILATOR</li>
                          <li>ENDOTRACHEAL TUBE (ETT OR BREATHING TUBE)</li>
                          <li>CENTRAL VENOUS CATHETERS (CVC)</li>
                          <li>BLOOD PRESSURE CUFF</li>
                          <li>SATURATION MONITOR</li>
                          <li>SEQUENTIAL COMPRESSION DEVICES</li>
                        </ul>

                        <a class="link_one" href="https://www.aci.health.nsw.gov.au/networks/icnsw/patients-and-families/equipment">learn more</a>

                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="patient-area area-padding">
        <div class="container">
            <div class="area-heading row">
                <div class="col-md-5 col-xl-4">
                    <h3>Patients<br>
                    In Our ICUs</h3>
                </div>
                <div class="col-md-7 col-xl-8">
                    <p>Patients may have a planned admission following surgery, an unexpected admission after an accident or be admitted because of a sudden and critical deterioration to their health.</p>

<p>ICU teams are multi-disciplinary, made up of highly skilled intensive care nurses, doctors and specialists trained in providing critical care for patients with a variety of medical, surgical and trauma conditions.</p>

<p>Our hospital ICUs specialise in providing care for particular health conditions or injuries including:</p>


  <p>Major trauma</p>
<p>Severe burns</p>
<p>Respiratory failure</p>
<p>Organ transplants</p>
<p>Complex spinal surgery</p>
<p>Cardiothoracic surgery.</p>

                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card card-team">
                        <img class="card-img rounded-0" src="images/team/1.jpg" alt="">

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card card-team">
                        <img class="card-img rounded-0" src="images/team/2.jpg" width="678px" height="240px"alt="">

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card card-team">
                        <img class="card-img rounded-0" src="images/team/3.jpg" alt="">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial">
        <div class="container">
            <div class="testi_slider owl-carousel owl-theme">
                <div class="item">
                    <div class="testi_item">
                        <div class="testimonial_image">
                            <img src="images/elements/tes1.jpg" alt="">
                        </div>
                        <div class="testi_item_content">
                            <p font-weight="bold black">
                              "We are 24 hours in patients' service"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <div class="testimonial_image">
                            <img src="images/elements/tes2.jpg" alt="">
                        </div>
                        <div class="testi_item_content">
                            <p font-weight="bold black">
                              "Our ICUs has a very qualified staff"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <div class="testimonial_image">
                            <img src="images/elements/tes3.jpg"  alt="">
                        </div>
                        <div class="testi_item_content">
                            <p font-weight="bold black">
                              "Nurses are trained very well"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <div class="testimonial_image">
                            <img src="images/elements/tes4.jpg" alt="">
                        </div>
                        <div class="testi_item_content">
                            <p font-weight="bold black">
                          "Patients feel like they are at their homes"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================ appointment Area Starts =================-->
    <!-- <section class="appointment-area area-padding">
        <div class="container">

            <div class="appointment-inner">
                <div class="row">
                    <div class="col-sm-12 col-lg-5 offset-lg-1"> -->
                        <!-- <h3>Have Some Questions?</h3>
                        <div class="accordion" id="accordionExample">

                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            God male gathering them it female which green cattle?
                                        </button>

                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Great day without sixth a lesser beginning. Their thing abundantly air moving saw fruitful lesser god. Sea abundantly blessed life set. Land. Lights divided man in deep in open upon.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Moving creepeth moved upon man grass two days?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Great day without sixth a lesser beginning. Their thing abundantly air moving saw fruitful lesser god. Sea abundantly blessed life set. Land. Lights divided man in deep in open upon.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            God male gathering them it female which green cattle?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Great day without sixth a lesser beginning. Their thing abundantly air moving saw fruitful lesser god. Sea abundantly blessed life set. Land. Lights divided man in deep in open upon.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Saw isn't likeness beginning yielding land days she?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Great day without sixth a lesser beginning. Their thing abundantly air moving saw fruitful lesser god. Sea abundantly blessed life set. Land. Lights divided man in deep in open upon.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Saw isn't likeness beginning yielding land days she?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Great day without sixth a lesser beginning. Their thing abundantly air moving saw fruitful lesser god. Sea abundantly blessed life set. Land. Lights divided man in deep in open upon.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> -->
                    <!-- <div class="col-lg-12">
                        <div class="appointment-form">
                            <h3>Make a Visit to our ICU</h3>
                            <form action="#">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input type="text" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" required>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'" required>
                                </div>
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea name="message" cols="20" rows="7"  placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required></textarea>
                                </div>
                                <a href="#" class="main_btn">Submit</a>
                            </form>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section> -->
    <!--================ appointment Area End =================-->




        <!--================ Start Brands Area =================-->






 <script>
     $(document).ready(function(){
       var date_input=$('input[name="date"]'); //our date input has the name "date"
       var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
       var options={
         format: 'MM/DD/yyyy',
         container: container,
         todayHighlight: true,
         autoclose: true,
       };
       date_input.datepicker(options);
     })
 </script>

 <script>
 // Script to open and close sidebar
 function w3_open() {
   document.getElementById("mySidebar").style.display = "block";
   document.getElementById("myOverlay").style.display = "block";
 }

 function w3_close() {
   document.getElementById("mySidebar").style.display = "none";
   document.getElementById("myOverlay").style.display = "none";
 }

 </script>


 <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

 <!-- Include Date Range Picker -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>



 </script>
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="js/jquery-2.2.4.min.js"></script>
 <script src="js/popper.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <script src="js/stellar.js"></script>
 <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
 <script src="js/jquery.ajaxchimp.min.js"></script>
 <script src="js/waypoints.min.js"></script>
 <script src="js/mail-script.js"></script>
 <script src="js/contact.js"></script>
 <script src="js/jquery.form.js"></script>
 <script src="js/jquery.validate.min.js"></script>
 <script src="js/mail-script.js"></script>
 <script src="js/theme.js"></script>
 </body>
 </html>
