<section class="banner-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <h1>Intensive Care Unit</h1>
                <h4>A special department of a hospital or health care facility that provides intensive treatment medicine.</h4>

                <!-- <a href="abou" class="main_btn">View Department</a> -->
            </div>
        </div>
    </div>
</section>


<!--================End home Banner Area =================-->



<div class="service-area area-padding-top">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">
                <h3>Types of ICUs in our hospital.</h3>
            </div>
            <div>
                <p>Intensive care unit has many types according to the case of the patient we put him in the suitable one. We have three types of ICUs in our hospital.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-face"></i> -->
                            <i class="fas fa-child"></i>
                        </span>
                    <h3 class="card-service__title">Pediatric care unit (PICU).</h3>
                    <p class="card-service__subtitle">Pediatric patients are treated in this intensive care unit for life-threatening conditions such as asthma, diabetic ketoacidosis, or traumatic neurological injury and cardiac transplantation.</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-"></i> -->
                            <i class="fas fa-heartbeat"></i>
                        </span>
                    <h3 class="card-service__title">Coronary care unit (CCU). </h3>
                    <p class="card-service__subtitle">is a hospital ward specialized in the care of patients with heart attacks, unstable angina, cardiac dysrhythmia and (in practice) various other cardiac conditions that require monitoring .</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-brain"></i> -->
                            <i class="fas fa-brain"></i>
                        </span>
                    <h3 class="card-service__title">Neurological Intensive Care Unit (NeuroICU).</h3>
                    <p class="card-service__subtitle">Patients are treated for brain aneurysms, brain tumors, stroke, rattlesnake bites and post surgical patients who have undergone various neurological surgeries.</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
</div>
<div class="service-area area-padding-top">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-face"></i> -->
                            <i class="fas fa-user-md"></i>
                        </span>
                    <h3 class="card-service__title">Post-anesthesia care unit (PACU).</h3>
                    <p class="card-service__subtitle"> the post-operative recovery unit, or recovery room, the PACU provides immediate post-op observation and stabilisation of patients following surgical operations and anesthesia.</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-"></i> -->
                            <i class="fas fa-baby"></i>
                        </span>
                    <h3 class="card-service__title">Neonatal intensive care unit (NICU). </h3>
                    <p class="card-service__subtitle">his specialty unit cares for neonatal patients who have not left the hospital after birth. Common conditions cared for include prematurity and associated complications, congenital disorders.</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-brain"></i> -->
                            <i class="far fa-hospital"></i>
                        </span>
                    <h3 class="card-service__title">Surgical intensive care unit (SICU).</h3>
                    <p class="card-service__subtitle"> the surgery critical care unit, the SICU is a specialized service in larger hospitals that provides inpatient care for critically ill patients on surgical services. As opposed to other ICUs.</p>
                    <a class="card-service__link" href="https://en.wikipedia.org/wiki/Intensive_care_unit">Learn More</a>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
</div>
<!--================ Service section end =================-->

<!--================About Area End =================-->

<!--================ Team section start =================-->
<section class="patient-area area-padding">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">
                <h3>Patients<br>
                    In Our ICUs</h3>
            </div>
            <div class="col-md-7 col-xl-8">
                <p>Patients may have a planned admission following surgery, an unexpected admission after an accident or be admitted because of a sudden and critical deterioration to their health.</p>

                <p>ICU teams are multi-disciplinary, made up of highly skilled intensive care nurses, doctors and specialists trained in providing critical care for patients with a variety of medical, surgical and trauma conditions.</p>

                <p>Our hospital ICUs specialise in providing care for particular health conditions or injuries including:</p>


                <p>Major trauma</p>
                <p>Severe burns</p>
                <p>Respiratory failure</p>
                <p>Organ transplants</p>
                <p>Complex spinal surgery</p>
                <p>Cardiothoracic surgery.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="images/team/1.jpg" alt="">

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="images/team/2.jpg" width="678px" height="240px"alt="">

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="images/team/3.jpg" alt="">

                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Team section end =================-->




<!-- ================ testimonial section start ================= -->
<section class="testimonial">
    <div class="container">
        <div class="testi_slider owl-carousel owl-theme">
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes1.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "We are 24 hours in patients' service"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes2.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Our ICUs has a very qualified staff"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes3.jpg"  alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Nurses are trained very well"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes4.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Patients feel like they are at their homes"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ testimonial section end ================= -->

<!-- ================ Hotline Area Starts ================= -->
<!-- <section class="hotline-area text-center area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Emergency hotline</h2>
                <span>(+01) – 256 567 550</span>
                <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
            </div>
        </div>
    </div>
</section> -->
<!-- ================ Hotline Area End ================= -->




<!--================ Start Blog Area =================-->

<!--================ End Blog Area =================-->

<!--================ Start Brands Area =================-->
<!-- <section class="brands-area background_one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="owl-carousel brand-carousel"> -->
<!-- single-brand -->
<!-- <div class="single-brand-item d-table">
    <div class="d-table-cell">
        <img src="images/brand/1.png" alt="">
    </div>
</div> -->
<!-- single-brand -->
<!-- <div class="single-brand-item d-table">
    <div class="d-table-cell">
        <img src="img/brand/2.png" alt="">
    </div>
</div> -->
<!-- single-brand -->
<!-- <div class="single-brand-item d-table">
    <div class="d-table-cell">
        <img src="img/brand/3.png" alt="">
    </div>
</div> -->
<!-- single-brand -->
<!-- <div class="single-brand-item d-table">
    <div class="d-table-cell">
        <img src="img/brand/4.png" alt="">
    </div> -->
<!-- </div> -->
<!-- single-brand -->
<!-- <div class="single-brand-item d-table"> -->
<!-- <div class="d-table-cell"> -->
<!-- <img src="img/brand/5.png" alt=""> -->
<!-- </div> -->
<!-- </div> -->
<!-- single-brand -->
<!-- <div class="single-brand-item d-table">
    <div class="d-table-cell">
        <img src="img/brand/3.png" alt="">
    </div>
</div>
</div>
</div>
</div>
</div>
</section> -->
<!--================ End Brands Area =================-->

<!-- start footer Area -->
