
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Sign Up<br>
              to make a patient account</h2>
            <div class="page_link">
              <a href="/">Home</a>
              <a href="/patientsignup"> Patient Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->



   <!--================start form  Area =================-->
    <section class="appointment-area area-padding">
        <div class="container">

            <div class="appointment-inner">
                <div class="row">
                 <div class="col-sm-12 col-lg-5 offset-lg-1">
                    <div class="col-lg-12">
                        <div class="appointment-form">

                            <form action="/patientsignup" method="POST">

  <div class="form-group">
 <label>Receptionist Email:</label>
 <input type="email" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Receptionist Email'" required>
 </div>
 <div class="form-group">
<label>Receptionist Password:</label>
<input type="password" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Receptionist Password'" required>
</div>



                                     <div class="form-group">
                                    <label>Patient First Name:</label>
                                    <input name="fname"type="text" placeholder="Patient First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = Patient Name'" required>
                                    </div>
                                    <div class="form-group">
                                   <label>Patient Last Name:</label>
                                   <input name="lname"type="text" placeholder="Patient Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = Patient Name'" required>
                                   </div>

                                    <div class="form-group">
                                    <label>Phone Number:</label>
                                    <input name="pnumber"type="phone number" placeholder="Patient Number" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Phone Number'" required>
                                    </div>

                                    <div class="form-group">
                                    <label>ID:</label>
                                    <input name="pid" type="text" placeholder="Patient ID " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient ID'" required>
                                    </div>

                                    <div class="form-group">
                                    <label>Password:</label>
                                    <input name="ppw"type="Password" placeholder="Patient Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient Password'" required>
                                    </div>
                                    <div class="form-group">
                                    <label>Age:</label>
                                    <input name="page" type="text" placeholder="Patient Age " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient Age'" required>
                                    </div>
                                    <div class="form-group">
                                    <label>Entry Date:</label>
                                    <input name="pdate" type="text" placeholder="MM/DD/YYY" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entry Date'" required>
                                    </div>

                                    <div class="form-group">
                                    <label>Gender:</label>
                                  <select name="pgender" id="Gender"required>
                                    <option name="pgender" value="Male">Male</option>
                                    <option name="pgender" value="Female">Female</option>
                                  </select>
                                  <br>
                                  </div>

                                  <div class="form-group">
                                  <label>Health Information:</label>


                                  <div class="form-group" >
                                    <p><label for="health history">Upload Health History:</label></p>

                                    <p><input name="phealth"type="file" class="form-control-file" id="health history"></p>
                                  </div>
                                  <div class="">
                                    <button type="submit" class="main_btn" name="button">Sign Up</button>

                                  </div>
                                  </div>




                            </form>

                        </div>


                </div>


            </div>

        </div>


    </section>



 <!-- ================ form Area ends ================= -->



       <!-- start footer Area -->
